
body {margin: 0;}

.nav ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav ul.topnav li {float: left;}

.nav ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav ul.topnav li a:hover:not(.active) {background-color: #111;}

.nav ul.topnav li a.active {background-color: #4CAF50;}

.nav ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    .nav ul.topnav li.right,
    .nav ul.topnav li {float: none;}
}
